* {
margin: 0;    
padding: 0;
box-sizing: border-box;
}
body {
    background-image:url(https://i.pinimg.com/736x/f9/f6/e6/f9f6e623ce988df64b4b8ed2287ad99e.jpg);
}
main{
    display: grid;
    flex-direction: column;
    grid-template-columns: 50%;
}

h1 {
display:flex;
justify-content: center;
background-color: rgb(13, 4, 65);
color: rgb(240, 240, 240);
padding: 1em;
}
.ZodiacText{
    display: flex;
    padding: .5em;
    margin: 1em;
    background-color: rgb(216, 213, 168);
    border: solid 2px rgb(102, 70, 0) ;
    grid-column-start: 2;
}
.ZodiacBlock {
    display: flex;
    justify-content: start;
    size: 20%;
    grid-column-start: 1;
}

picture {
    margin: 1em;
}
button {
    border-style: none;
    background-color: rgb(10, 84, 196);
    color: rgb(255, 255, 255) ;
    font-weight: 700;
    margin: 5px;
    padding: 1em;
box-shadow: 0px 0px 12px rgb(204, 171, 24);
}

button:hover {
    background-color: rgb(2, 0, 134);
    box-shadow: 0px 0px 8px rgb(247, 208, 34);
    cursor: pointer;
}

input {
    cursor: text;
    margin: 1rem;
    font-size: 1rem;
    padding: 2px;
}
footer {
    margin-top: 1em;
    padding: 1em;
    color: white;
    background-color: rgb(4, 4, 63);
}