@font-face {
    font-family: 'foul-fiend';
    src: url('./Fonts/foul_fiend.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
  }

* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}
main{
    background-image: url(./images/2796640.png);
    display: grid;
    grid-template-columns: 25% 25% 25% 10%;
    grid-template-rows: 20% 30% 20% 30%; 
    align-items: center;
    justify-items: center;
    min-height: 90vh;
}

h1 {
    font-family: 'foul-fiend';
    font-size: 1rem;
    margin: 1rem;

}

.page-title{
    max-width: 55%;
    margin: 2rem;
    grid-row: 1 ;
    grid-column: 2 / span 2;
   }

.button_div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    grid-row: 2 / span 2;
    grid-column: 3;
    justify-self: end;
    
}

.date-input {
    display: grid;
    grid-row: 4;
    grid-column: 2 /span 2;
    margin: 1rem;
    justify-items: center;
}
/* Styles for Help */

.help-button{
    border: 3px solid black;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
.help-box-close{
    display:flex;
    justify-self: flex-end;
}

.help-box {
    position: absolute;
    background-color: rgb(240, 255, 255);
    border: 5px solid black;
    padding: 1rem;
    line-height: 1.5rem;
    text-align: center;
    z-index: 800;
    left: 17%;
    bottom: 50%;
}
.help-box p {
    font-size: 1.25rem;
    margin: .5rem;
}

.view-deck {
    border: 3px solid black;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.magic-circle{
    display: grid;
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
    max-width: 50%;
    margin: 1rem;
    z-index: 2;
}
.zodiac-card{
    justify-self: center;
    align-self: center;
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
    width: 40%;
    z-index: 500;
}



.BackgroundImage{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    grid: 0;
    z-index: 0;
}

.ZodiacBio{
    background-color: aliceblue;
    border: 3px solid black;
    padding: 2rem;
    font-size: 1.125rem;
    margin: auto 2rem;
}

.full-deck{
    display: none;
    grid-template-rows: repeat(12, 1fr);
    grid-row: 1 / span 4;
    grid-column: 1 ;
    flex-direction: column;
    margin: 3rem;
    max-width: 30%;
}
.full-deck img {
    width: 50%;
}
.full-deck img:hover{
    transition: .4s ease-in-out ;
    transform: translateX(15px);
    cursor: pointer;
}
button {
    border-style: none;
    font-weight: 700;
    margin: 5px;
    padding: 1em;
}

button:hover {
    color: white;
    background-color: rgb(33, 5, 78);
    cursor: pointer;
    transition: .2s ease-in-out ;
}

input {
    text-align: center;
    cursor: text;
    margin: 1rem;
    max-width: fit-content;
    font-size: 1rem;
    padding: 5px;
    border-radius: 50px;
    border: 3px solid black;
}

footer {
    display: flex;
    margin-top: 2rem;
    padding: 1em;
    color: white;
    background-color: rgb(4, 4, 63);
}
